* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #F5f5f5;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.bg-accent {
  background-color: #2894FA;
}

.bg-white {
  background-color: #FFFFFF;
}

.bg-white-f5 {
  background-color: #F5f5f5;
}

.icon-size {
  height: 50px;
  width: 50px;
}

.icon-size-s {
  height: 30px;
  width: 30px;
}

.disp-block {
  display: block;
}
